In [1]:
# import libraries
import pandas as pd
import numpy as np
from sklearn import ensemble, preprocessing, tree

In [2]:
# load dataset
train = pd.read_csv('input/ford_train.csv')
test = pd.read_csv('input/ford_test.csv')
sample = pd.read_csv('input/example_submission.csv')
solution = pd.read_csv('input/solution.csv')
sample.Prediction.fillna
train.head()

,TrialID,ObsNum,IsAlert,P1,P2,P3,P4,P5,P6,P7,...,V2,V3,V4,V5,V6,V7,V8,V9,V10,V11
0,0,0,0,34.7406,9.84593,1400,42.8571,0.290601,572,104.895,...,0.175,752,5.99375,0,2005,0,13.4,0,4,14.8004
1,0,1,0,34.4215,13.41120,1400,42.8571,0.290601,572,104.895,...,0.455,752,5.99375,0,2007,0,13.4,0,4,14.7729
2,0,2,0,34.3447,15.18520,1400,42.8571,0.290601,576,104.167,...,0.280,752,5.99375,0,2011,0,13.4,0,4,14.7736
3,0,3,0,34.3421,8.84696,1400,42.8571,0.290601,576,104.167,...,0.070,752,5.99375,0,2015,0,13.4,0,4,14.7667
4,0,4,0,34.3322,14.69940,1400,42.8571,0.290601,576,104.167,...,0.175,752,5.99375,0,2017,0,13.4,0,4,14.7757

In [3]:
labels = train['IsAlert'].values

In [4]:
train = train.drop('IsAlert', axis=1)

In [5]:
# find irrelevant columns and drop them
print(train.P8.value_counts())
print(train.V7.value_counts())
train = train.drop('TrialID', axis=1)
train = train.drop('ObsNum', axis=1)
train = train.drop('P8', axis=1)
train = train.drop('V7', axis=1)

0    604329
Name: P8, dtype: int64
0    604329
Name: V7, dtype: int64

In [6]:
train.head()

,P1,P2,P3,P4,P5,P6,P7,E1,E2,E3,...,V1,V2,V3,V4,V5,V6,V8,V9,V10,V11
0,34.7406,9.84593,1400,42.8571,0.290601,572,104.895,0.0,0.0,1,...,101.96,0.175,752,5.99375,0,2005,13.4,0,4,14.8004
1,34.4215,13.41120,1400,42.8571,0.290601,572,104.895,0.0,0.0,1,...,101.98,0.455,752,5.99375,0,2007,13.4,0,4,14.7729
2,34.3447,15.18520,1400,42.8571,0.290601,576,104.167,0.0,0.0,1,...,101.97,0.280,752,5.99375,0,2011,13.4,0,4,14.7736
3,34.3421,8.84696,1400,42.8571,0.290601,576,104.167,0.0,0.0,1,...,101.99,0.070,752,5.99375,0,2015,13.4,0,4,14.7667
4,34.3322,14.69940,1400,42.8571,0.290601,576,104.167,0.0,0.0,1,...,102.07,0.175,752,5.99375,0,2017,13.4,0,4,14.7757

In [7]:
# decision tree one (to find most important features)
my_tree_one = tree.DecisionTreeClassifier()
my_tree_one = my_tree_one.fit(train, labels)

In [8]:
print(my_tree_one.feature_importances_)

[ 0.03603435  0.00129342  0.00526454  0.00541326  0.05233808  0.05291872
  0.03148227  0.01097393  0.02485776  0.00050053  0.01668079  0.02857129
  0.03786602  0.02552391  0.03894605  0.14466805  0.06239088  0.00240194
  0.09436641  0.01000145  0.00183855  0.0150953   0.00445463  0.02820748
  0.00907754  0.          0.00152197  0.25731085]

In [9]:
# Most important features: E9, V11, V1, P5, E7
train_features_five = train[['E9', 'V11', 'V1', 'P5', 'E7']].copy()
train_features_five.head()

   E9      V11      V1        P5  E7
0   1  14.8004  101.96  0.290601   1
1   1  14.7729  101.98  0.290601   1
2   1  14.7736  101.97  0.290601   1
3   1  14.7667  101.99  0.290601   1
4   1  14.7757  102.07  0.290601   1

In [16]:
# decision tree classifier
my_tree_two = tree.DecisionTreeClassifier()
my_tree_two = my_tree_two.fit(train_features_five, labels)

In [17]:
test.drop('IsAlert', axis=1)
test_features_five = test[['E9', 'V11', 'V1', 'E10', 'P7']].copy()
test_features_five.head()

   E9      V11      V1  E10       P7
0   1  16.1937  108.57   64  118.110
1   1  16.1744  108.57   64  118.110
2   1  16.1602  108.65   65  118.110
3   1  16.1725  108.65   65  118.110
4   1  16.1459  108.57   65  119.048

In [18]:
# create predictions and submission file
predictions = my_tree_two.predict_proba(test_features_five)[:, 1]
sample['Prediction'] = predictions
sample.to_csv('predictions.csv', index=False)

In [19]:
# check with solution
solution_pred = solution.Prediction.values
predictions_int = predictions.astype(int)

In [20]:
accuracy_decision_tree = (np.sum(predictions_int == solution_pred)) / (predictions_int.size)

In [21]:
print(accuracy_decision_tree)

0.564829526647